{% load static %}

{% for post in page_obj %}

<div id="post{{post.id}}" class="ms-3 mt-2" data-post_id="{{ post.id }}">
    <div class="show" id="post-display{{post.id}}">

        <a href=" {% url 'network:user' username=post.user.username %}" class="username"><b>{{ post.user.username }}</b></a>
        <p>{{ post.content }}</p>
        <p class="date">{{ post.date_post }}
            {% if post.edited == True %}
            &emsp;Edited: {{post.date_edit}}
            {% endif %}
        </p>
        <p class="likes">{{ post.count_likes }}

            {% if post.is_liked %}
            <span type="button" data-action="unlike" class="heart"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                </svg></span>
            {% else %}
            <span type="button" data-action="like" class="heart"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                </svg></span>
            {% endif %}
        </p>

        {% if request.user == post.user%}
        <button id="edit-post" type="button" class="btn btn-outline-info" data-post_id="{{ post.id }}"
            data-content="{{post.content}}">Edit</button>
        <button type="button" class="btn btn-outline-danger" data-post_id="{{ post.id }}"
            id="delete-post">Delete</button>
    </div>

    <div class="hide" id="post-edit{{post.id}}">
        <textarea name="" id="edit-area{{post.id}}" class="form-control">{{ post.content }}</textarea>
        <button type="button" class="btn btn-outline-success mt-2" id="save-btn">Save</button>
        <button type="button" class="btn btn-outline-warning mt-2" id="back-btn">Back</button>

    </div>
    {% else %}
</div>

{% endif %}
<hr>
</div>

{% endfor %}